[submodule "jnvilo.webproxy"]
	path = jnvilo.webproxy
	url = git@github.com:jnvilo/ansible-role-webproxy.git
[submodule "jnvilo.openvpn-as"]
	path = jnvilo.openvpn-as
	url = git@github.com:jnvilo/ansible-role-openvpn-as.git
[submodule "jnvilo.harbor"]
	path = jnvilo.harbor
	url = git@github.com:jnvilo/ansible-role-harbor.git
[submodule "jnvilo.aws"]
	path = jnvilo.aws
	url = git@github.com:jnvilo/ansible-role-aws.git
[submodule "jnvilo.calibre-web"]
	path = jnvilo.calibre-web
	url = git@github.com:jnvilo/ansible-role-calibre-web.git
[submodule "jnvilo.fedora-desktop"]
	path = jnvilo.fedora-desktop
	url = git@github.com:jnvilo/ansible-role-fedora-desktop.git
[submodule "jnvilo.docker"]
	path = jnvilo.docker
	url = git@github.com:jnvilo/ansible-role-docker
	branch = master
[submodule "jnvilo.letsencrypt"]
	path = jnvilo.letsencrypt
	url = git@github.com:jnvilo/ansible-role-letsencrypt.git
	branch = master
